.language{
    background-color:purple;
    font-weight: bold;
}
#aloha{
    letter-spacing: 8px;
    font-variant: small-caps;
    background-color: green;
}
div{
    width: 240px;
    padding: 10px;
    border: 5px solid white;
    margin: 10px;
    margin-right: 60px;

}
div.float-left {
    float: left;
  }
  body{
      color:#fff3e3 ;
      font-size: 36px;
      font-weight: lighter;
      
  }
  h1{
      color: #ae7182;

  }
table{
    border-color:#262b53 ;
}
