#global{
    border: 1px solid rgb(62, 66, 62);
    background: rgb(62, 66, 62);
}
#header {
    border: 1px solid rgb(25, 255, 25);
    background: rgb(25, 255, 25);
    height: 90px;
    margin: 5px;
    padding: 5px;
    text-align: center;
}
#nav{
    border: 1px dotted rgb(68, 248, 61);
    background:  rgb(48, 235, 48);
    height: 20px;
    margin: 5px;
    padding: 5px;
}
#contenu{
    border: 1px dotted greenyellow;
    background: rgb(25, 255, 25);
    padding: 5px;margin: 5px;
    min-height: 400px;
}
#right{
    border: 1px solid greenyellow;
    background:rgb(48, 235, 48);
    width: 400px;
    min-height: 400px;
    float: right;
}
#left{
    border: 1px solid greenyellow;
    background:rgb(48, 235, 48);
    min-height: 400px;
    margin-right :300px ;
    
}
#footer{
    border: 1px solid greenyellow;
    background:rgb(48, 235, 48);
    left: 50px;
    height: 40px;
    right: 50px;
    
}
#h1{
    color: black;
    text-align: center;
}
.h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    color: black;
    
}
